blockquote::first-line {
    color: red;
}
.head {
    color: blue;
    text-align: center;
}

span.black {
    color: black;
    font-size: xx-large;
}
span.header {
    color: blue;
    text-align: center;
}
header.span {
    color: blue;
    text-align: center;
}
body {
    background-color: rgb(194, 231, 231);
}
ul.numero {
    list-style: decimal;
}
hr {
    color: brown;
}
img {
    position: relative;
    bottom: 350px;
    left: 800px;
    width: 350px;
    height: 300px;
}
a.activo:active{
    background-color: yellow;
    color: red;
}

div a:link {
    background-color: white;
    color: blue;
}
div a:visited {
    background-color: blue;
    color: white;
}

blockquote.before::before {
    content: "1.";
}
